<div class="fixed top-0 left-0 w-full h-full bg-[#00000050] z-50">

    <div class="fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-80 max-h-screen flex flex-col items-center p-4 bg-white rounded-md">

        <h2 class="text-3xl text-center mb-4">Eliminar {{tipoDato}}</h2>

        @if (tipoDato == 'gol') {
            <div class="max-h-40 overflow-auto">
                @for (gol of listaGoles; track gol) {
                    <div class="text-xl w-48 flex justify-between border-b">
                        <div class="flex gap-4 px-4 tabular-nums">
                            <div class="w-7 text-end">{{gol.minuto}}'</div>
                            <div class="font-semibold w-7 text-end">{{gol.dorsal}}</div>
                        </div>
                        <div class="flex items-center px-4 cursor-pointer" id="{{gol.id}}" clickAnimation (click)="confirmacionEliminar($event)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 64 64">
                                <path fill="#ec1c24" d="M50.592 2.291L32 20.884C25.803 14.689 19.604 8.488 13.406 2.291c-7.17-7.17-18.284 3.948-11.12 11.12c6.199 6.193 12.4 12.395 18.592 18.592A32589.37 32589.37 0 0 1 2.286 50.595c-7.164 7.168 3.951 18.283 11.12 11.12c6.197-6.199 12.396-12.399 18.593-18.594l18.592 18.594c7.17 7.168 18.287-3.951 11.12-11.12c-6.199-6.199-12.396-12.396-18.597-18.594c6.2-6.199 12.397-12.398 18.597-18.596c7.168-7.166-3.949-18.284-11.12-11.11"/>
                            </svg>
                        </div>
                    </div>
                }
            </div>
        }

        @if (tipoDato == 'tarjeta') {
            <div class="max-h-40 overflow-auto">
                @for (tarjeta of listaTarjetas; track tarjeta) {
                    <div class="text-xl w-48 flex justify-between border-b">
                        <div class="flex gap-4 px-4 tabular-nums">
                            <div class="w-7 text-end">{{tarjeta.minuto}}'</div>
                            <div class="font-semibold w-7 text-end">{{tarjeta.dorsal}}</div>
                        </div>
                        <div class="flex items-center px-4 cursor-pointer" id="{{tarjeta.id}}" clickAnimation (click)="confirmacionEliminar($event)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 64 64">
                                <path fill="#ec1c24" d="M50.592 2.291L32 20.884C25.803 14.689 19.604 8.488 13.406 2.291c-7.17-7.17-18.284 3.948-11.12 11.12c6.199 6.193 12.4 12.395 18.592 18.592A32589.37 32589.37 0 0 1 2.286 50.595c-7.164 7.168 3.951 18.283 11.12 11.12c6.197-6.199 12.396-12.399 18.593-18.594l18.592 18.594c7.17 7.168 18.287-3.951 11.12-11.12c-6.199-6.199-12.396-12.396-18.597-18.594c6.2-6.199 12.397-12.398 18.597-18.596c7.168-7.166-3.949-18.284-11.12-11.11"/>
                            </svg>
                        </div>
                    </div>
                }
            </div>
        }

        <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>

    </div>

    @if (openModalConfirmacion) {
        <app-modal-confirmacion 
            [mensaje]="mensajeConfirmacion"
            (eventoConfirmar)="eliminar($event)"
        />
    }

</div>
