<div class="fixed top-0 left-0 w-full h-full bg-[#00000050] z-50">

    <div class="fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-80 max-h-screen flex flex-col gap-2 items-center p-4 bg-white rounded-md">

        @if (accionModal == 'anadir') {
            <h2 class="text-3xl text-center mb-4">Añadir jugador</h2>
    
            <div class="text-xl flex gap-2">
                <label for="dorsal" class="w-20">Dorsal</label>
                <input type="number" inputmode="numeric" min="1" max="99" id="dorsal" class="w-40 border rounded-md px-1" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !dorsal || !dorsalValido}" [(ngModel)]="dorsal" (blur)="validarDorsal()">
            </div>  
    
            <div class="text-xl flex gap-2">
                <label for="nombre" class="w-20">Nombre</label>
                <input type="text" id="nombre" maxlength="10" class="w-40 border rounded-md px-1" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !nombre}" [(ngModel)]="nombre" (blur)="validarNombre()">
            </div>
    
            <div class="flex gap-6">
                <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>
                <button class="text-xl font-medium w-32 bg-green-500 px-5 py-2 rounded-md mt-5 mb-2" (click)="guardar()">Guardar</button>
            </div>
        }

        @if (accionModal == 'eliminar') {
            <h2 class="text-3xl text-center mb-4">Eliminar jugador</h2>

            <div class="max-h-40 overflow-auto">
                @for (jugador of jugadores; track jugador) {
                    <div class="text-xl w-60 flex gap-2 justify-between px-4 border-b">
                        <div class="flex gap-4 tabular-nums">
                            <div class="w-7 text-end">{{jugador.dorsal}}</div>
                            <div class="font-semibold w-32">{{jugador.nombre}}</div>
                        </div>
                        <div class="flex items-center cursor-pointer" clickAnimation (click)="confirmarEliminarJugador(jugador)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 64 64">
                                <path fill="#ec1c24" d="M50.592 2.291L32 20.884C25.803 14.689 19.604 8.488 13.406 2.291c-7.17-7.17-18.284 3.948-11.12 11.12c6.199 6.193 12.4 12.395 18.592 18.592A32589.37 32589.37 0 0 1 2.286 50.595c-7.164 7.168 3.951 18.283 11.12 11.12c6.197-6.199 12.396-12.399 18.593-18.594l18.592 18.594c7.17 7.168 18.287-3.951 11.12-11.12c-6.199-6.199-12.396-12.396-18.597-18.594c6.2-6.199 12.397-12.398 18.597-18.596c7.168-7.166-3.949-18.284-11.12-11.11"/>
                            </svg>
                        </div>
                    </div>
                }
            </div>

            <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>
        }

        @if (accionModal == 'guardar') {
            <h2 class="text-3xl text-center mb-4">Nombre del equipo</h2>

            <input type="text" id="equipo" maxlength="15" class="w-40 border rounded-md px-1" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !equipo}" [(ngModel)]="equipo" (blur)="validarNombre()">

            <div class="flex gap-6">
                <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>
                <button class="text-xl font-medium w-32 bg-green-500 px-5 py-2 rounded-md mt-5 mb-2" (click)="guardarEquipo()">Guardar</button>
            </div>
        }

        @if (accionModal == 'cargar') {
            <div class="max-h-80 overflow-auto">

                <h2 class="text-3xl text-center mb-4">Selecciona un equipo</h2>

                <div class="grid justify-center overflow-auto">
                    @for (equipo of equiposLS; track equipo) {
                        <div class="text-xl w-fit flex gap-4 justify-between px-4 border-b">

                            <div class="w-36 cursor-pointer truncate" (click)="cargarEquipoLS(equipo)">{{equipo.nombre}}</div>

                            <div class="flex items-center cursor-pointer" clickAnimation (click)="confirmarEliminarEquipoLS(equipo)" title="Eliminar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 64 64">
                                    <path fill="#ec1c24" d="M50.592 2.291L32 20.884C25.803 14.689 19.604 8.488 13.406 2.291c-7.17-7.17-18.284 3.948-11.12 11.12c6.199 6.193 12.4 12.395 18.592 18.592A32589.37 32589.37 0 0 1 2.286 50.595c-7.164 7.168 3.951 18.283 11.12 11.12c6.197-6.199 12.396-12.399 18.593-18.594l18.592 18.594c7.17 7.168 18.287-3.951 11.12-11.12c-6.199-6.199-12.396-12.396-18.597-18.594c6.2-6.199 12.397-12.398 18.597-18.596c7.168-7.166-3.949-18.284-11.12-11.11"/>
                                </svg>
                            </div>
                        </div>
                    }
                </div>

                <button class="text-xl font-medium w-32 flex bg-gray-300 px-5 py-2 rounded-md mx-auto mt-5 mb-2" (click)="cancelar()">Cancelar</button>

            </div>
        }

    </div>

</div>

@if (openModalConfirmacion) {
    @if (accionModal == 'guardar') {
        <app-modal-confirmacion 
            [mensaje]="mensajeModal"
            (eventoConfirmar)="reemplazarEquipo($event)"
        />
    }

    @if (accionModal == 'eliminar') {
        <app-modal-confirmacion 
            [mensaje]="mensajeModal"
            (eventoConfirmar)="eliminarJugador($event)"
        />
    }

    @if (accionModal == 'cargar') {
        <app-modal-confirmacion 
            [mensaje]="mensajeModal"
            (eventoConfirmar)="eliminarEquipoLS($event)"
        />
    }
}
