<section id="resultado" class="flex justify-between px-4 py-2 sm:grid sm:grid-cols-2">

    <div class="w-60 flex flex-col items-center text-center justify-end sm:w-48">

        <div class="w-32 h-32">
            <img class="w-full h-full object-cover" src="assets/img/{{escudoLocal}}" alt="" />
        </div>

        <div class="text-3xl font-semibold h-24 flex items-center pt-3 overflow-auto">{{equipoLocal}}</div>

    </div>

    <div class="sm:col-span-2 sm:mx-auto">

        <div class="w-72 h-32 text-8xl flex justify-center items-center tabular-nums sm:w-[384px] sm:mb-2">
            <span class="sm:text-center sm:w-28">{{resultadoLocal}}</span>
            <span class="px-4 sm:px-5">-</span>
            <span class="sm:text-center sm:w-28">{{resultadoVisitante}}</span>
        </div>
    
        <div class="text-xl flex flex-col items-center">
            <label for="parte">Parte</label>
            @if (estado == 'reset' || estado == 'configuracion') {
                <select name="parte" id="parte" class="w-10 h-7 bg-white" [(ngModel)]="parte" (change)="cambiarParte()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            }
            @else {
                <span class="h-7">{{parte}}</span>
            }
        </div>

    </div>

    <div class="w-60 flex flex-col items-center text-center sm:w-48 sm:col-start-2 sm:row-start-1">

        <div class="w-32 h-32">
            <img class="w-full h-full object-cover" src="assets/img/{{escudoVisitante}}" alt="" />
        </div>

        <div class="text-3xl font-semibold h-24 flex items-center pt-3 overflow-auto">{{equipoVisitante}}</div>

    </div>
    
</section>
