<section class="flex justify-between px-4 py-2 sm:grid sm:grid-cols-2">

    <div class="w-60 flex flex-col gap-3 items-center text-center justify-end sm:w-48">

        <div class="w-32 h-32 flex justify-center">
            <img class="max-w-full max-h-full object-cover" src="assets/img/{{escudoLocal}}" onerror="src='assets/img/default.png'" alt="Escudo {{equipoLocal}}" />
        </div>

        <div class="text-3xl font-semibold h-24 flex items-center overflow-auto">{{equipoLocal}}</div>

    </div>

    <div class="flex flex-col gap-5 sm:gap-2 sm:col-span-2 sm:mx-auto">

        <div class="w-72 h-32 text-8xl flex justify-center items-center tabular-nums sm:w-[384px]">
            <span class="sm:text-center sm:w-28">{{golesLocal}}</span>
            <span class="px-4 sm:px-5">-</span>
            <span class="sm:text-center sm:w-28">{{golesVisitante}}</span>
        </div>
         
        <div class="text-xl flex flex-col items-center">
            @if (estado == 'reset' || estado == 'configuracion') {
                <label for="parte">Parte</label>
                <select name="parte" id="parte" class="w-10 h-7 bg-white" [(ngModel)]="parte" (change)="cambiarParte()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            } @else {
                <span>Parte</span>
                <span>{{parte}}</span>
            }
        </div>

    </div>

    <div class="w-60 flex flex-col gap-3 items-center text-center sm:w-48 sm:col-start-2 sm:row-start-1">

        <div class="w-32 h-32 flex justify-center">
            <img class="max-w-full max-h-full object-cover" src="assets/img/{{escudoVisitante}}" onerror="src='assets/img/default.png'" alt="Escudo {{equipoVisitante}}" />
        </div>

        <div class="text-3xl font-semibold h-24 flex items-center overflow-auto">{{equipoVisitante}}</div>

    </div>
    
</section>
