<main class="w-[820px] rounded-lg m-auto select-none">

  <section class="flex justify-between p-4">
    
    <app-controles-equipo 
      [tipoEquipo]="'local'"
      (eventoSumarGol)="sumarGol($event)"
      (eventoRestarGol)="restarGol($event)"
      (eventoSumarFalta)="sumarFalta($event)"
      (eventoRestarFalta)="restarFalta($event)"
    />

    <app-tiempo 
      (eventoReiniciar)="reiniciar()"
    />

    <app-controles-equipo 
      [tipoEquipo]="'visitante'"
      (eventoSumarGol)="sumarGol($event)"
      (eventoRestarGol)="restarGol($event)"
      (eventoSumarFalta)="sumarFalta($event)"
      (eventoRestarFalta)="restarFalta($event)"
    />

  </section>

  <app-resultado 
    [equipoLocal]="equipoLocal"
    [equipoVisitante]="equipoVisitante"
    [escudoLocal]="escudoLocal"
    [escudoVisitante]="escudoVisitante"
    [resultadoLocal]="golesLocal"
    [resultadoVisitante]="golesVisitante"
    [parte]="parte"
    (eventoCambiarParte)="cambiarParte($event)"
  />

  <section class="flex justify-between px-4 py-2">

    <app-faltas 
      [tipoEquipo]="'local'"
      [numFaltas]="parte == 1 ? faltasLocalParte1 : faltasLocalParte2"
    />

    @if (estado == 'fullReset') {
      <app-configurar-partido 
        (eventoConfigurar)="configurarEquipos($event)"
      />
    }

    <app-faltas 
      [tipoEquipo]="'visitante'"
      [numFaltas]="parte == 1 ? faltasVisitanteParte1 : faltasVisitanteParte2"
    />

  </section>

  <section class="flex justify-between p-4">

    <app-info 
      [tipoEquipo]="'local'"
      [goles]="listaGolesLocal"
      [tarjetas]="listaTarjetasLocal"
      (eventoAnadirTarjeta)="anadirTarjeta($event)"
    />

    <app-info 
      [tipoEquipo]="'visitante'"
      [goles]="listGolesVisitante"
      [tarjetas]="listaTarjetasVisitante"
      (eventoAnadirTarjeta)="anadirTarjeta($event)"
    />

  </section>

  @if (openModalSumar) {
    <app-modal-sumar 
      [tipoEquipo]="modalTipoEquipo"
      [tipoDato]="modalTipoDato"
      (eventoGuardar)="guardarDatos($event)"
    />
  }

  @if (openModalRestar) {
    <app-modal-restar 
      [tipoEquipo]="modalTipoEquipo"
      [tipoDato]="modalTipoDato"
      [listaDatos]="modalListaDatos"
      (eventoEliminar)="eliminarDatos($event)"
    />
  }

</main>
