<div class="fixed top-0 left-0 w-full h-full bg-[#00000050] z-50">

    <div class="fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-96 h-96 flex flex-col gap-4 items-center p-4 bg-white rounded-md">

        <h2 class="text-3xl text-center mb-4">Configurar partido</h2>

        <div class="text-xl w-full flex gap-4">
            <label for="local" class="w-36">Equipo local</label>
            <input type="text" id="local" list="equipo-local" class="w-48 border rounded-md px-2 rm-datalist-arrow" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !equipoLocal}" [(ngModel)]="equipoLocal" (blur)="seleccionarEquipo($event, 'local')">
            <datalist id="equipo-local">
                @for (equipo of listaEquipos; track equipo) {
                    <option value="{{equipo.equipo}}">{{equipo.equipo}}</option>
                }
            </datalist>
        </div>

        <div class="text-xl w-full flex gap-4">
            <label for="visitante" class="w-36">Equipo visitante</label>
            <input type="text" id="visitante" list="equipo-visitante" class="w-48 border rounded-md px-2 rm-datalist-arrow" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !equipoVisitante}" [(ngModel)]="equipoVisitante" (blur)="seleccionarEquipo($event, 'visitante')">
            <datalist id="equipo-visitante">
                @for (equipo of listaEquipos; track equipo) {
                    <option value="{{equipo.equipo}}">{{equipo.equipo}}</option>
                }
            </datalist>
        </div>

        <div class="border-b h-1 w-full mb-[3px]"></div>

        <div class="text-xl w-full flex gap-4">
            <label for="minutos" class="w-36">Minutos</label>
            <select name="minutos" id="minutos" class="w-48 text-end px-2 border rounded-md bg-white" [(ngModel)]="minutos">
                <option value="25">25</option>
                <option value="20">20</option>
            </select>
        </div>

        <div class="text-xl w-full flex gap-4">
            <label for="tiempo" class="w-36">Tiempo</label>
            <select name="tiempo" id="tiempo" class="w-48 text-end px-2 border rounded-md bg-white" [(ngModel)]="modoTiempo">
                <option value="ascendente">Ascendente</option>
                <option value="descendente">Descendente</option>
            </select>
        </div>

        <div class="flex gap-6">
            <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>
            <button class="text-xl font-medium w-32 bg-green-500 px-5 py-2 rounded-md mt-5 mb-2" (click)="guardar()">Guardar</button>
        </div>

    </div>

</div>
