<div class="fixed top-0 left-0 w-full h-full bg-[#00000050] z-50">

    <div class="fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-80 max-h-screen flex flex-col gap-2 items-center p-4 bg-white rounded-md">

        <h2 class="text-3xl text-center mb-4">Añadir {{tipoDato}}</h2>

        <div class="text-xl flex gap-2">
            <label for="minuto" class="w-20">Minuto</label>
            <input type="number" inputmode="numeric" min="1" max="99" id="minuto" class="w-40 border rounded-md px-1" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !minuto}" [(ngModel)]="minuto" (focus)="unsubscribeAppDataService()" (blur)="calcularMinuto($event)" (blur)="validarInput('minuto')">
        </div>

        @if (tipoDato == 'tarjeta') {
            <div class="text-xl flex gap-2">
                <label for="persona-tarjeta" class="w-20">Para</label>
                <select name="persona-tarjeta" id="persona-tarjeta" class="w-40 border rounded-md px-1 bg-white" [(ngModel)]="personaTarjeta">
                    <option value="J">Jugador</option>
                    <option value="E">Entrenador</option>
                    <option value="D">Delegado</option>
                    <option value="2E">2º Entrenador</option>
                    <option value="A">Auxiliar</option>
                </select>
            </div>
        }

        @if (tipoDato == 'gol' || (tipoDato == 'tarjeta' && personaTarjeta == 'J')) {
            <div class="text-xl flex gap-2">
                <label for="dorsal" class="w-20">Dorsal</label>
                <input type="number" inputmode="numeric" min="1" max="99" id="dorsal" class="w-40 border rounded-md px-1" [ngClass]="{'outline outline-2 -outline-offset-2 outline-red-500' : !dorsal && tipoDato == 'tarjeta'}" [(ngModel)]="dorsal" (keyup)="validarInput('dorsal')">
            </div>
        }

        @if (tipoDato == 'tarjeta') {
            <div class="text-xl flex gap-2">
                <label for="tarjeta" class="w-20">Tarjeta</label>
                <select name="tarjeta" id="tarjeta" class="w-40 border rounded-md px-1 bg-white" [(ngModel)]="tarjeta">
                    <option value="amarilla">Amarilla</option>
                    <option value="roja">Roja</option>
                </select>
            </div>
        }

        @if (modoTiempo == 'descendente') {
            <div class="text-sm font-semibold flex gap-2 mt-2">
                <input type="checkbox" id="auto-calcular" [(ngModel)]="autocalcularMinuto" (change)="setAutocalcularMinuto()">
                <label for="auto-calcular">Autocalcular minuto</label>
            </div>
        }

        <div class="flex gap-6">
            <button class="text-xl font-medium w-32 bg-gray-300 px-5 py-2 rounded-md mt-5 mb-2" (click)="cancelar()">Cancelar</button>
            <button class="text-xl font-medium w-32 bg-green-500 px-5 py-2 rounded-md mt-5 mb-2" (click)="guardar()">Guardar</button>
        </div>

    </div>

</div>
